body {
  @include regularText;
  font-size: 14px;
  line-height: 18px;
  color: $color-black;
}

b, strong {
  color: $color-blue-text-dark;
}

h1, h2, h3, h4, h5, h6 {
  @include headingText;
  color: $color-blue-text-dark;
}

h3 {
  font-size: 16px;
}

.bootbox-body {
  font-size: 16px;
  margin: 15px 0;
}