$color-black-real: #000;
$color-white-real: #fff;

$color-white: $color-white-real;
$color-black: #5D5D5D;

$color-blue: #b8d0da;
$color-blue-light: #d1e2e9;
$color-blue-dark: #a9c9d6;
$color-blue-shadow: #91a8ba;
$color-blue-text: #7E8F9C;
$color-blue-text-dark: #6E7E8A;
$color-blue-text-grayed: #ADB8BD;
//#5B666F

$color-red-bootstrap: #d9534f;

$color-turquoise: #A8CECA;

$color-gray: #dadbdf;
//$color-grey-dark: #A2A5AD;

$color-status-off: #CAD1D4;
$color-status-on: #9EFD93;
$color-status-busy: #FFCF42;
$color-status-error: #F77;