.consoleViewer-modal {

  .modal-body {
    background-color: #333;
    color: #fff;
    max-height: 0px;
    overflow-y: auto;
    height: 1000px; // max height will be overriden by onResize

    pre {
      border: none;
      color: #fff;
      background-color: transparent;
      margin-bottom: 0;
    }
  }
}