$FontPath: "../lib/roboto/fonts" !default;
$FontName: "Roboto" !default;
$FontVersion: "1.1.0" !default;

@import "../public/lib/roboto/sass/mixins";

//@import "../public/lib/roboto/sass/Thin";
//@import "../public/lib/roboto/sass/ThinItalic";
//@import "../public/lib/roboto/sass/Light";
//@import "../public/lib/roboto/sass/LightItalic";
@import "../public/lib/roboto/sass/Regular";
//@import "../public/lib/roboto/sass/Italic";
//@import "../public/lib/roboto/sass/Medium";
//@import "../public/lib/roboto/sass/MediumItalic";
@import "../public/lib/roboto/sass/Bold";
//@import "../public/lib/roboto/sass/BoldItalic";
//@import "../public/lib/roboto/sass/Black";
//@import "../public/lib/roboto/sass/BlackItalic";

