$station-line-height: 20px;
$station-padding: 10px;
$station-min-height: $station-line-height * 3 + $station-padding * 2;

$station-icon-padding: 7px;
$station-icon-height: $station-min-height - 2 * $station-icon-padding;
$station-icon-width: $station-min-height - 2 * $station-icon-padding;

$station-light-width: 28px;

.station {
  position: relative;
  margin: 10px 0;
  padding: $station-padding;
  line-height: $station-line-height;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  min-height: $station-min-height;
  padding-left: $station-padding + $station-light-width + $station-icon-width + 5px;
  transition: margin 0.15s;
  @include unselectable;

  &:hover {
    background-color: rgba(255, 255, 255, 0.95);
  }

  .station-name {
    @include headingText;
    font-size: 14px;
    color: $color-blue-text-dark;
    float: left;
  }

  .station-profile {
    position: absolute;
    bottom: 6px;
    right: 6px;
    font-size: 12px;
    background-color: $color-blue-shadow;
    color: $color-white;
    float: right;
    padding: 0px 8px;
    border-radius: $station-line-height / 2;
  }

  .station-app {
    @include headingText;
    font-size: 16px;
    color: $color-blue-text;
    clear: both;
    min-height: $station-line-height;

    button {
      padding: 0;
      background: none;
      border: none;
      pointer-events: none; // Active in "on" state only

      &:hover {
        background: none;
        color: $color-black;
      }

      &:focus {
        outline: none;
        color: $color-black;
      }

      .caret {
        display: none; // Visible in "on" state only
      }
    }
  }

  .station-status {
    margin-top: 4px;
    margin-bottom: -4px;

  }

  .station-icon {
    img {
      width: 65px;
      height: 65px;
    }
    width: 65px;
    height: 65px;
    position: absolute;
    top: $station-icon-padding;
    left: $station-light-width + $station-icon-padding;
    background-color: $color-turquoise;
    overflow: hidden;
    border-radius: 33px;
  }

  .station-state-light {
    position: absolute;
    top: 0;
    left: 0;
    width: $station-light-width;
    height: 100%;
    background-color: $color-status-off;
  }

  .station-info-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 24px;
    color: $color-blue-shadow;
    background: none;
    border: none;
    padding: 0;

    &:hover {
      color: $color-black;
    }

    &:focus {
      color: $color-black;
      outline: none;
      pointer-events: none;
    }
  }

  .station-output-button {
    position: absolute;
    top: 5px;
    right: 40px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    color: $color-blue-shadow;

    &:hover {
      color: $color-black;
    }
  }

  .station-lock {
    position: absolute;
    top: 24px;
    left: 57px;
    height: auto;
    color: white;
    font-size: 33px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    opacity: 0.8;
  }
}

.station-state-unk {
  .station-state-light {
    background-color: $color-status-unk;
  }

  .station-icon,
  .station-app,
  .station-name,
  .station-profile {
    opacity: 0.5;
  }
}

.station-state-off {
  background-color: rgba(236, 236, 236, 0.8);

  &:hover {
    background-color: rgba(236, 236, 236, 0.95);
  }

  .station-icon {
    opacity: 0.5;
  }

  .station-app {
    color: $color-blue-text-grayed;
  }
}

.station-state-on {
  .station-app {
    button {
      pointer-events: all;
      text-align: left;
      min-width: 30px;
      .caret {
        display: inline-block;
      }
    }
  }
}

.station-state-on {
  .station-state-light {
    background-color: $color-status-on;
  }
}

.station-state-starting_station,
.station-state-starting_app,
.station-state-stopping,
.station-state-switching_app {
  .station-state-light {
    background-color: $color-status-busy;
  }

  .station-icon {
    opacity: 0.5;
  }
}

.station-state-error {
  .station-state-light {
    background-color: $color-status-error;
  }
}

.station-selected {
  background-color: rgba(217, 237, 255, 0.8);
  margin-top: 7px !important;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.3);
  margin-bottom: 7px !important;

  &:hover {
    background-color: rgba(217, 237, 255, 0.95);
  }
}

.station-locked {
  .station-icon,
  .station-app,
  .station-name,
  .station-profile {
    opacity: 0.5;
  }
}

