#dashboardContainer {
  padding-top: 60px;
}

.navbar {
  border-color: $color-blue-text-grayed;

  .navbar-brand {
    @include image-replace;
    @include image-replace-src('../img/lg-hilbert-200.png', 200px, 200px);
    width: 48px;
    height: 42px;
    background-size: contain;
    padding: 0;
    margin-top: 6px;
    margin-left: 0 !important;
    margin-right: 1em;

    @include responsive($xs) {
      margin-left: 1em !important;
    }
  }

  .navbar-toggle {
    margin-right: 0;
    margin-left: 15px;
  }

  .button-filter {
    margin: 15px 0 15px -5px;
  }

  .navbar-action-btn {
    width: 36px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 20px;
    color: $color-blue-shadow;
    border: none;
    background: none;
    padding: 0;

    &:focus {
      outline: none;
      color: $color-black;
    }

    &:hover {
      color: $color-black;
    }
  }
}

#navbar-menus {
  @include responsive($xs) {
    width: 100%;
  }
}

.dropdown-menu {
  box-shadow: 0 6px 12px 0px rgba(0,0,0,0.2);

  a.checked {
    position: relative;
    &:before {
      content: "✓";
      display: block;
      position: absolute;
      width: 1em;
      height: 1em;
      left: 0.4em;
      top: 0.2em;
    }
  }
}
