.textFilter {
  border-left: 1px solid rgba(0, 0, 0, 0.27);

  .textFilter-cancel {
    padding-left: 0.6em;
    padding-right: 0.6em;

    i {
      font-size: 23px;
      line-height: 1;
      margin-top: -10px;
      margin-bottom: -7px;
      vertical-align: middle;
      color: $color-blue-shadow;
    }
  }

  input[type=text] {
    @include responsive($sm-only) {
      width: 120px !important;
    }
  }
}
