.alert {
  box-shadow: 0 6px 10px 0px rgba(0,0,0,0.3);

  & > [data-notify=title] {
    font-weight: bold;
    margin-right: 0.2em;
  }

  & > [data-notify=icon] {
    display: block;
    float: left;
    font-size: 2em;
    margin-right: 0.4em;
    margin-top: -0.15em;
  }
}